In [2]:
# !pip install numpy pandas
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('fact_aggregated_bookings.csv')
df.head()

   property_id check_in_date room_category  successful_bookings  capacity
0        16559     01-May-22           RT1                   25        30
1        19562     01-May-22           RT1                   28        30
2        19563     01-May-22           RT1                   23        30
3        17558     01-May-22           RT1                   13        19
4        16558     01-May-22           RT1                   18        19